/*
============
Element Selectors
============
*/

header {
    background-color: rgba(228, 228, 228, 0.612);
}

.nav {
    margin: 0 auto;
    color: #333
}

.nav-2 {
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--color1);
}

nav ul {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav li {
    margin-left: 3.5em;
}

nav li:first-child {
    margin-left: 0rem;
}

nav li a {
    color: var(--color1);
    text-decoration: none;
    padding: .25em 0;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
}

.active {
    border-bottom: solid #333 3px;
}

.inactive {
    border-bottom: 0;
}

.site-title {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
============
Class Selectors
============
*/

.container-nav {
    display: flex;
    padding: 1rem
}

.current-page {
    border-bottom: 3px solid var(--color1);
}

.current-page:hover {
    color: var(--color5);
    border-bottom: 3px solid var(--color5);
}

.menu-button {
    border: none;
    background-color: transparent;
    outline: none;
    display: none;
    cursor: pointer;
    border: 0;
    margin-left: 1rem;
}


/*
============ 
Media Querys
============
*/

@media (max-width:950px) {
    header {
        text-align: center;
    }
    .container {
        padding: 2rem;
    }
    .container-nav {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .nav {
        display: none;
    }
    .nav-2 {
        display: flex;
    }
    .menu-button {
        display: block;
    }
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin: .5em 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}